* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
}
#formModal {
    display: none;
    position: static;
    z-index: 1;
    overflow: auto;
    height: 80%;
    padding: 30px 0px;
}

.register-form {
    color: #fefefe;
    background-color: #414345;
    margin: 0% auto 5% auto;
    width: 35%;
    border-radius: 20px;
    padding: 10px 0px 0px 27px;
}
label {
    margin: 10px;
}

input[type = text], input[type = email] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.registerBtn {
    background-color: #0ea015;
    color: white;
    padding: 14px 20px;
    margin: 8px 12px;
    border: none;
    cursor: pointer;
  }

.cancelBtn {
    background-color: #d4151f;
    color: white;
    padding: 14px 20px;
    margin: 8px 12px;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: rgb(22, 217, 231);
    color: white;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
}